

body{
}

P{
  text-align: justify;
}

#esq{
    background-color: darkorange;

}

#dir{
    background-color: darkorchid;
}

.container{
    background-color: aqua;
    width: 96%;
    margin: auto;
    border-radius: 100%;
}

.col1,.col_2, .col_3, .col_4, .col_5, .col_6, .col_7,.col_8,.col_9,.col_10,.col_11,.col_12{

  float:left;
  padding: 1%;

}


.col_1 {

  width: 6.33333333333333%;

}

.col_2 {
  width: 14.666666666666668%;
    background-color: white;
}

.col_3 {

  width: 23%;
}

.col_4 {

  width: 31.333333333333336%;
}

.col_5 {

  width: 39.66666666666667%;
}

.col_6 {
  width: 48%;
}

.col_7 {

  width: 56.333333333333336%;
}

.col_8 {
  width: 64.66666666666667%;
}

.col_9 {

  width: 73%;
}

.col_10 {
  width: 81.33333333333334%;
}

.col_11 {

  width: 89.66666666666667%;
}

.col_12 {
  width: 98%;

}
