#conteudo{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-right: 3%;
}

#anuncios{
    float:right;
    width: 20%;
    background-color: #FF9800;
    padding: 2%;
}

#menu{
    float: left;
    width: 20%;
    background-color: #7E8AA2;
}